body, p {
	margin: 0;
	padding: 0;
}

body {
	background-color: #ccc;
}

.main {
	width: 892px;
	height: 1386px;
	background-color: white;
	margin: 0 auto;
	padding: 0 44px;
}

.head {
	width: 892px;
	height: 61px;
	margin: 0 auto;
	border-bottom: 2px solid #8b9a9e;

}

.title {
	width: 110px;
	height: 61px;
	background-color: #dd3a74;
    float: left; 
}

.title p{
	font-size: 12px;
	color: #ffffff;
	font-family: "黑体";
	margin: 48px 0 0 5px;
}

.date {
	margin-top: 48px;
	font-size: 12px;
	color: #d45d5c;
	font-family: "黑体";
	float: right;
}

.text1 {
	width: 100%;
	height: 301px;
	margin: 35px auto;
	position: relative;
}

.text1-left {
	width: 641px;
	float: left;
}

.text1-left img {
	width: 641px;
	height: 301px;
}

.shadow-a {
	width: 191px;
	height: 301px;
	background-color: #96d2ba;
	position: absolute;
	top: 0;
	opacity: 0.5;

}

.shadow-b {
	width: 191px;
	height: 301px;
	background-color: #e2abc4;
	position: absolute;
	top: 0;
	left: 450px;
	opacity: 0.5;
	
}
.text1-right {
	width: 203px;
	height: 301px;
	margin-right: 2px;
	border-top: 2px solid #cf76c0;
	float: right;
}

.about {
	font-variant: small-caps;
	font-size: 24px;
	font-family: "微软雅黑";
	margin-top: 8px;
	text-decoration: underline;
}

.technologe {
	font-size: 12px;
	font-family: "楷体";
	color: #676767;
	font-style: italic;
	margin-top: 10px;
}

.seven {
	font-size: 116px;
	font-family: "微软雅黑";
	color: #75b86b;
	font-style: italic;
	margin: 20px 0 20px -10px;

}

.number {
	font-size: 55px;
	font-style: "微软雅黑";
	color: #cc8091;
	float: left;
}

.min-number {
	float: left;
}

.number-1 {
	font-size: 21px;
	font-style: "微软雅黑";
	color: #cc8091;
	margin-top: 13px;
}

.number-2 {
	font-size: 12px;
	font-style: "微软雅黑";
	color: #cc8091;
}

.text2 {
	overflow: hidden;
}
.text2-left {
	width: 228px;
	float: left;
	margin-right: 30px;
}

.left-title {
	font-size: 16px;
	font-family: "微软雅黑";
	color: #418c59;
	text-decoration: underline;
    font-weight: bolder;
    margin: 10px 0;
}

.text2-content {
	font-size: 12px;
	font-family: "宋体";
	color: #767777;
	line-height: 16px;
}

.text2-mid {
	width: 204px;
	float: left;
	margin-right: 30px;
}
.mid-title {
	font-size: 16px;
	font-family: "微软雅黑";
	color: #d3994f;
	text-decoration: underline;
    font-weight: bolder;
    margin: 10px 0;
}

.text2-right {
	float: left;
}

.right-title {
	font-size: 16px;
	font-family: "微软雅黑";
	color: #cc7680;
	text-decoration: underline;
    font-weight: bolder;
    margin: 10px 0;
}

.right-content {
	font-size: 12px;
	font-family: "宋体";
	color: #767777;
	line-height: 20px;
}

.right-num {
	font-size: 12px;
	line-height: 16px;
	color: #231815;
	opacity: 0.7;
	font-family: "微软雅黑";
}

.right-num span {
	font-size: 12px;
	line-height: 16px;
	color: #cd4a48;
	font-style: italic;
	opacity: 0.7;
	font-family: "微软雅黑";
}
.text3 {
	width: 892px;
	padding: 60px 0 30px 0;
	overflow: hidden;
}

.text3-left {
	width: 415px;
	float: left;
}

.text3-title {
	border-bottom: 2px solid #11456b;
}

.text3-left-title1{
	font-size: 42px;
	color: #11456b;
	margin-bottom: 8px;
	font-weight: bolder;
	font-family:  "黑体";
}

.text3-left-title1 span {
	font-size: 72px;
	color: #f5e327;
	margin-bottom: 8px;
	font-weight: bolder;
	font-family:  "黑体";
	font-style: italic;
}

.text3-left-title2 {
	font-size: 33px;
	color: #11456b;
	margin-bottom: 8px;
	font-weight: bolder;
	font-family:  "黑体";
}
.text3-right {
	width: 458px;
	float: right;
}

.text3-content {
	margin-top: 30px;
}

.text3-content-left {
	font-size: 12px;
	color: #767777;
	font-family:  "宋体";
	line-height: 16px;
}

.text3-content-left1 {
	font-size: 12px;
	color: #767777;
	font-family:  "宋体";
	line-height: 16px;
	text-indent: 2em;
}

.qian {
	font-size: 70px;
	color: #f5e327;
	font-family:  "微软雅黑";
	line-height: 70px;
	float: left;
}
.text3-content img {
	width: 168px;
	height: 288px;
	padding: 16px 10px 16px 12px;
	float: right;
}

.text3-img {
	width: 458px;
	float: right;
	position: relative;
	overflow: hidden;
}

.text3-img img {
	width: 458px;
	height: 275px;
}

.img-shadow {
	width: 458px;
	height: 61px;
	position: absolute;
	background-color: black;
	opacity: 0.7;
	top: 214px;
}

.img-shadow p {
	font-size: 26px;
	height: 44px;
	line-height: 44px;
	font-family:  "微软雅黑";
	color: #ffffff;
    border-left: 3px solid #72b16a;
    margin: 9px 0 0 30px;
    padding-left: 20px;
}

.img-shadow span {
	padding-left: 5px;
	font-size: 12px;
	font-family:  "微软雅黑";
	color: #72616a;
	font-style: italic;
	letter-spacing: 140%;
}

.text3-font {
	width: 459px;
	height: 298px;
	margin-top: 30px;
	padding-top: 20px;
	background-color: #eaf2ce;
	float: left;
	position: relative;
}

.text3-font-p {
	font-size: 16px;
	color: #5a5b5b;
	font-family: "宋体";
	margin: 20px 0 0 30px;
	float: left;
}

.sanjiao {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #10456b;
    display: inline-block;
    margin: -10px 5px 0 0;
}

.qianduan {
	font-size: 12px;
	color: #5a5b5b;
	font-family: "宋体";
	margin: 24px 40px 0 0;
	font-style: italic;
    float: right;
}

.text3-footer {
	width: 459px;
	height: 160px;
	position: absolute;
	top: 158px;
}

.red {
	width: 260px;
	height: 160px;
	background-color: #dd3a74;
	float: left;
}

.text3-footer span:first-child {
	font-size: 72px;
	font-family: "黑体";
	color: #d45d5c;
	float: left;
	margin: 15px 9px -22px -45px;
	font-style: normal; 
}

.text3-footer span:last-child {
	font-size: 72px;
	font-family: "黑体";
	color: #d45d5c;
	float: right;
	margin: 25px -45px 0 20px; 
	font-style: normal; 
}

.text3-footer-p {
	margin: 10px 0 0 15px;
	padding: 0;
	font-size: 14px;
	font-family: "黑体";
	color: #5a5b5c;
	font-style: italic;
	line-height: 16px;
	float: left;
}

.zero {
	font-size: 110px;
	font-family:  "微软雅黑";
	color: #ffffff;
    margin: 32px 0 0 10px;
    float: left;
}

.one-two-three {
	height: 86px;
	border-left: 2px solid #ffffff;
	float: left;
	margin: 37px 0 0 5px;
}

.one-two {
	font-size: 21px;
	font-family: "黑体";
	color: #ffffff;
	margin: 6px 0 6px 5px;
	font-style: italic;
}

.hello {
    font-size: 12px;
	font-family: "黑体";
	color: #ffffff;
	margin: 6px 0 6px 5px;
}

.footer {
	width: 892px;
	border-top: 1px solid #938e8c;
}

.footer p {
	font-size: 12px;
	font-family: "黑体";
	color: #d45d5c;
	float: right;
	margin-top: 2px;
}